web-ui/n8n-kgen-ai-gateway.json
{
  "name": "KGen AI Gateway — Proxy & Prompt Tools",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kie/createTask",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-create-task",
      "name": "WH: createTask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 200],
      "webhookId": "kie-create-task"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kie/queryTask/:taskId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-query-task",
      "name": "WH: queryTask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 460],
      "webhookId": "kie-query-task"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kie/recordInfo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-record-info",
      "name": "WH: recordInfo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 700],
      "webhookId": "kie-record-info"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enhance-prompt",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-enhance",
      "name": "WH: Enhance Prompt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 940],
      "webhookId": "enhance-prompt"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adapt-prompt-ref",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-adapt",
      "name": "WH: Adapt Prompt Ref",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 1200],
      "webhookId": "adapt-prompt-ref"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "proxy-create-task",
      "name": "Proxy → KIE createTask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KIE_CREDENTIAL_ID",
          "name": "KIE AI Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "resp-create-task",
      "name": "Respond: createTask",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 200]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://api.kie.ai/api/v1/jobs/queryTask/{{ $json.params.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "proxy-query-task",
      "name": "Proxy → KIE queryTask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KIE_CREDENTIAL_ID",
          "name": "KIE AI Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "resp-query-task",
      "name": "Respond: queryTask",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 460]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.query.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "proxy-record-info",
      "name": "Proxy → KIE recordInfo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KIE_CREDENTIAL_ID",
          "name": "KIE AI Bearer Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body || $json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "resp-record-info",
      "name": "Respond: recordInfo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 700]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyB-ZVpdJn_Y8SpmZg84cQdFFMYF9p0kuxM",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'You are an expert AI image prompt engineer. Transform the following idea into a highly detailed, professional image generation prompt.\\n\\nStyle: ' + (($json.body.style || 'realistic')) + '\\nMode: ' + (($json.body.mode || 'none')) + '\\nCamera angle: ' + (($json.body.angle || 'none')) + '\\n\\nUser idea: ' + ($json.body.prompt || '') + '\\n\\nRules:\\n- Write in English\\n- Add rich visual details: lighting, composition, colors, textures, atmosphere\\n- Add technical quality terms: resolution, rendering style, artistic quality\\n- Keep the core subject and intent of the original idea\\n- Output ONLY the enhanced prompt, no explanation, no quotes, no markdown\\n- Length: 2-4 sentences maximum' }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 512 } }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "gemini-enhance",
      "name": "Gemini → Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 940],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst candidates = data.candidates || [];\nlet resultText = '';\nif (candidates.length > 0) {\n  const parts = candidates[0].content?.parts || [];\n  for (const part of parts) {\n    if (part.text) resultText += part.text;\n  }\n}\nif (resultText.trim()) {\n  let clean = resultText.trim();\n  if (clean.startsWith('\"') && clean.endsWith('\"')) clean = clean.slice(1, -1);\n  if (clean.startsWith('```') && clean.endsWith('```')) clean = clean.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  return [{ json: { success: true, enhanced: clean } }];\n}\nreturn [{ json: { success: false, error: 'Could not enhance prompt', enhanced: $input.first().json.body?.prompt || '' } }];"
      },
      "id": "parse-enhance",
      "name": "Parse Enhance Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 940]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "resp-enhance",
      "name": "Respond: Enhance",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 940]
    },


    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyB-ZVpdJn_Y8SpmZg84cQdFFMYF9p0kuxM",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [ ...(($json.body.refImageBase64 && $json.body.refImageMime) ? [{ inlineData: { mimeType: $json.body.refImageMime, data: $json.body.refImageBase64 } }] : []), { text: 'You are an expert image prompt editor. You will receive:\\n1. A reference image of a person/subject\\n2. An existing image generation prompt\\n\\nYour task is to MODIFY the existing prompt so that the generated image will MATCH the person/subject in the reference image.\\n\\nRULES:\\n- Carefully analyze the reference image: gender, ethnicity, approximate age, hair style/color, facial features, body type, skin tone.\\n- Replace ANY conflicting subject descriptions in the prompt with ones that match the reference image.\\n- Keep the overall scene, composition, lighting, artistic style, background, and mood EXACTLY the same.\\n- Keep ALL text overlay instructions unchanged.\\n- Keep the same language as the original prompt.\\n- Output ONLY the modified prompt text, nothing else.\\n\\n--- EXISTING PROMPT ---\\n' + ($json.body.prompt || '') + '\\n--- END PROMPT ---\\n\\nPlease output the modified prompt:' } ] }], generationConfig: { temperature: 0.3, maxOutputTokens: 4096 } }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "gemini-adapt",
      "name": "Gemini → Adapt Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 1200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst candidates = data.candidates || [];\nlet resultText = '';\nif (candidates.length > 0) {\n  const parts = candidates[0].content?.parts || [];\n  for (const part of parts) {\n    if (part.text) resultText += part.text;\n  }\n}\nif (resultText.trim()) {\n  let clean = resultText.trim();\n  if (clean.startsWith('\"') && clean.endsWith('\"')) clean = clean.slice(1, -1);\n  if (clean.startsWith('```') && clean.endsWith('```')) clean = clean.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  return [{ json: { success: true, adaptedPrompt: clean } }];\n}\nreturn [{ json: { success: false, error: 'Could not analyze reference image' } }];"
      },
      "id": "parse-adapt",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 1200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "resp-adapt",
      "name": "Respond: Adapt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 1200]
    }
  ],
  "connections": {
    "WH: createTask": {
      "main": [[{ "node": "Proxy → KIE createTask", "type": "main", "index": 0 }]]
    },
    "Proxy → KIE createTask": {
      "main": [[{ "node": "Respond: createTask", "type": "main", "index": 0 }]]
    },
    "WH: queryTask": {
      "main": [[{ "node": "Proxy → KIE queryTask", "type": "main", "index": 0 }]]
    },
    "Proxy → KIE queryTask": {
      "main": [[{ "node": "Respond: queryTask", "type": "main", "index": 0 }]]
    },
    "WH: recordInfo": {
      "main": [[{ "node": "Proxy → KIE recordInfo", "type": "main", "index": 0 }]]
    },
    "Proxy → KIE recordInfo": {
      "main": [[{ "node": "Respond: recordInfo", "type": "main", "index": 0 }]]
    },
    "WH: Enhance Prompt": {
      "main": [[{ "node": "Gemini → Enhance Prompt", "type": "main", "index": 0 }]]
    },
    "Gemini → Enhance Prompt": {
      "main": [[{ "node": "Parse Enhance Response", "type": "main", "index": 0 }]]
    },
    "Parse Enhance Response": {
      "main": [[{ "node": "Respond: Enhance", "type": "main", "index": 0 }]]
    },
    "WH: Adapt Prompt Ref": {
      "main": [[{ "node": "Gemini → Adapt Prompt", "type": "main", "index": 0 }]]
    },
    "Gemini → Adapt Prompt": {
      "main": [[{ "node": "Parse Gemini Response", "type": "main", "index": 0 }]]
    },
    "Parse Gemini Response": {
      "main": [[{ "node": "Respond: Adapt", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KGen Gallery" }],
  "pinData": {}
}
